body{
    /* height: max-content; */
    background-size: 600px;
    /* background-color: blue; */
    background-image: image-set('style/backgroun2.jpg');
}
.padding{
    background-color: blanchedalmond;
    text-align: justify;
}